{% extends 'base.html' %}
{% block title %} O autorze{% endblock %}

{% block content %}
<div>
    <div class="box box--left">
        <h4 class="box-title">Mistrz Markdowna</h4>
        <p class="box-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, magnam similique
            necessitatibus voluptates in
            officia totam, dicta omnis corporis a deleniti impedit vel tempore? Nemo et provident voluptatum
            consequuntur
            nulla eligendi, voluptates quisquam ullam reiciendis debitis iure assumenda dicta, labore animi totam in ad
            odit! Autem nobis doloremque quo porro.</p>
    </div>
    <div class="box box--right">
        <h4 class="box-title">Zwolennik psów</h4>
        <p class="box-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, magnam similique
            necessitatibus voluptates in
            officia totam, dicta omnis corporis a deleniti impedit vel tempore? Nemo et provident voluptatum
            consequuntur
            nulla eligendi, voluptates quisquam ullam reiciendis debitis iure assumenda dicta, labore animi totam in ad
            odit! Autem nobis doloremque quo porro.</p>
    </div>

</div>
{% endblock %}