{% extends 'base.html' %}
{% block title %}Strona Główna{% endblock %}
{% block content %}
<h3 class="site_header">Opis projektu</h3>
<div class="box">
    <h4 class="box__title">Cel aplikacji</h4>
    <p class="box__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. A, ex laboriosam? Expedita ex dolor
        eveniet enim
        asperiores laudantium consequatur voluptatibus corporis cum a ipsam voluptas aspernatur, ab ad. Quidem,
        laudantium?</p>
</div>
<div class="box">
    <h4 class="box__title">Opis działania aplikacji</h4>
    <p class="box__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. A, ex laboriosam? Expedita ex dolor
        eveniet enim
        asperiores laudantium consequatur voluptatibus corporis cum a ipsam voluptas aspernatur, ab ad. Quidem,
        laudantium?</p>
</div>
<div class="box">
    <h4 class="box__title">Zastosowane podejścia</h4>
    <p class="box__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. A, ex laboriosam? Expedita ex dolor
        eveniet enim
        asperiores laudantium consequatur voluptatibus corporis cum a ipsam voluptas aspernatur, ab ad. Quidem,
        laudantium?</p>
</div>

<div class="box">
    <h4 class="box__title">Zastosowane biblioteki</h4>
    <ul>
        <li>Lorem, ipsum.</li>
        <li>Qui, illo.</li>
        <li>Similique, explicabo.</li>
        <li>Repellendus, officiis.</li>
        <li>Fugit, asperiores.</li>
        <li>At, expedita.</li>
        <li>Placeat, expedita.</li>
        <li>Quibusdam, necessitatibus.</li>
        <li>Tempora, saepe?</li>
        <li>Consequatur, rem.</li>
        <li>Quasi, sunt?</li>
        <li>Aut, fuga!</li>
        <li>Dolorem, in!</li>
        <li>Sunt, voluptates.</li>
        <li>Illo, aut!</li>
        <li>Vitae, dolore?</li>
        <li>Iste, saepe.</li>
        <li>Reprehenderit, error!</li>
        <li>Nesciunt, eius?</li>
        <li>Eos, veniam!</li>
        <li>Rerum, maxime.</li>
        <li>Alias, corrupti.</li>
        <li>Eos, inventore!</li>
        <li>Quae, vel!</li>
        <li>Amet, aspernatur.</li>
        <li>Consequuntur, dignissimos.</li>
        <li>Doloribus, non.</li>
        <li>Dolorum, laborum?</li>
        <li>Quia, iste.</li>
        <li>Excepturi, animi?</li>
    </ul>
</div>


{% endblock %}